.navPadding {
  padding-left: 0.15rem;
}

.megaMenu {
  width: 100vw;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.listGroupItem {
  border: none;
  padding: 0.5rem 1rem;
}

.listLink {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
}

.listLink:hover {
  color: #007bff;
}

.caretIcon {
  margin-right: 0.5rem;
}

.MegaMenuContainer {
  padding-bottom: 401px;
}
